{
    "extends": "airbnb",
    "rules": {
        "no-plusplus": "off",
        "no-underscore-dangle": "off",
        "max-classes-per-file": "off",
        "no-param-reassign": "off",
        "no-continue": "off"
    }
}